node_modules
.turbo
dist
.next
coverage
.DS_Store
*.log
.env
.env.local
.env.*.local
apps/api/prisma/*.db
apps/api/prisma/*.db-journal
playwright-report
test-results
.vercel
.pnpm-store
*.tsbuildinfo

install.log
pnpm-lock.yaml.bak
